<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <center style="margin-top: 30px;"><h4><%= title%></h4></center>
    <div class="container" style="display: flex; justify-content: center;">
      <div class="row">
        <div class="card" style="width: 30rem; margin-top: 30px;">
          <div class="card-header">
            <h5>Sign Up</h5>
          </div>
          
          <div class="card-body">
            <% if(msg !=''){ %>
            <p style="text-align: center; color: red;"><%= msg %></p>
            <% } %> 
            <form action="/signup" method="POST">
              <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Enter Username" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="email" id="inputEmail" placeholder="Enter Email Address" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="confpassword" id="confirmPassword" placeholder="Re-enter Password" required>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Sign Up</button>

              <p>Already have account? <a href="/">Login Here</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
